<style>

.logo {
  position: absolute; /* Абсолютное позиционирование относительно ближайшего позиционированного предка */
  top: 500px;   /* 0 пикселей от верхнего края */
  left: 130px;  /* 0 пикселей от левого края */
  z-index: 10; /* Убедитесь, что логотип будет поверх других элементов */
}

.logo img {
  display: block; /* Убирает любое пространство под изображением */
  width: 80px; /* Задает ширину логотипа, измените в соответствии с вашими потребностями */
}

.logo a {
  display: block; /* Делает ссылку блочным элементом, охватывающим всю область логотипа */
  text-decoration: none; /* Убирает подчеркивание текста */
}

.logo a:hover {  /* В этом блоке можно добавить стили, которые будут применяться при наведении */
  opacity: 0.8; /* Делает логотип немного прозрачнее при наведении */
}

</style>
