body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  object-fit: cover;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 10px 20px; /* Изменено с 220px для лучшей адаптивности */
  text-align: center;
  z-index: 1;
}

.nav {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  position: absolute;
  top: 10px; /* Изменено для адаптивности */
  left: 10px; /* Изменено для адаптивности */
  width: calc(100% - 20px); /* Вычитаем padding */
}

.nav a, .dropdown-content a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: white;
  background-color: #333;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.arrow {
  transition: transform 0.9s;
  transform: rotate(180deg);
}

.dropdown:hover .arrow {
  transform: rotate(360deg);
}

.content {
  font-size: 16px; /* Уменьшено для мобильных устройств */
  max-width: 100%; /* Изменено с 800px для лучшей адаптивности */
  color: white;
  padding: 10px; /* Уменьшено с 60px для мобильных устройств */
  text-align: justify;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.logo img {
  width: 50px; /* Уменьшено для мобильных устройств */
}

.marquee-container {
  position: fixed;
  width: 100%;
  height: 30%; /* Уменьшено для мобильных устройств */
}

.top-marquee, .bottom-marquee {
  position: absolute;
  width: 100%;
}

.marquee, .reverse-marquee {
  width: 400%;
  overflow: hidden;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes reverse-marquee {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.support {
  color: white;
  font-size: 20px; /* Уменьшено для мобильных устройств */
  position: relative;
  top: 10px; /* Изменено для адаптивности */
  left: 0; /* Изменено для адаптивности */
  text-align: center;
}

.support a {
  color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header {
    padding: 10px 220px;
  }

  .nav {
    top: 100px;
    left: 100px;
  }

  .logo img {
    width: 80px;
  }

  .content {
    font-size: 25px;
    padding: 60px;
  }

  .marquee-container {
    height: 50%;
  }

  .support {
    font-size: 30px;
    top: 550px;
  }
}
